.root {
  min-width: 300px;
  padding-left: 30px;
}

.title {
  font-size: 40px;
  font-weight: bold;
}

.list {
  list-style: none;
  padding: 0;
  font-size: 20px;
}

.list li:before {
  content: '';
  display: inline-block;
  height: 0.8rem;
  width: 0.8rem;
  margin-right: 6px;
  background-image: url(/img/pokeball.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.list li {
  margin-bottom: 24px;
}

.list li a {
  text-decoration: none;
}
