.root {
  height: 100px;
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 10px;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.4);
  margin-bottom: 20px;
}

.root > * {
  flex: 1;
  text-align: center;
}

.root > *:last-child {
  text-align: right;
}

.root > *:first-child {
  text-align: left;
}

.root button {
  border: none;
  color: black;
  background-color: transparent;
  font-size: 30px;
  cursor: pointer;
}

.root button:focus,
.root button:active,
.root button:hover {
  opacity: 0.8;
  background-color: transparent;
}

.logoAndSearch {
  display: flex;
  align-items: center;
}

.logoAndSearch img {
  height: 40px;
  margin-right: 10px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  border-radius: 50%;
}

.logoAndSearch input {
  background-color: #eee;
  width: 250px;
}

.centerButtons {
  display: flex;
  justify-content: center;
}

.centerButtons > * {
  margin-left: 8px;
  margin-right: 8px;
}

.profilePhoto {
  border-radius: 50%;
  height: 60px;
}
