.root {
  flex: 1;
  display: flex;
  justify-content: center;
  max-width: 600px;
}

.container {
  max-width: 100%;
}

.quickLook {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.quickLook > * {
  text-align: center;
}

.quickLook > *:not(:last-child) {
  margin-right: 16px;
}

.quickLook > *:not(:first-child) {
  margin-left: 16px;
}

.quickLookTitle {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 1.25rem;
}

.quickLook img {
  height: 160px;
}

.createNewTransaction {
  margin-bottom: 30px;
}

.createNewTransaction form {
  display: flex;
  justify-content: center;
}

.createNewTransaction form > *:not(:last-child) {
  margin-right: 6px;
}

.createNewTransaction form > *:not(:first-child) {
  margin-left: 6px;
}

.newTransactionSubmitButton {
  align-self: flex-end;
}

.createNewTransaction label {
  display: block;
}

.newTransactionSubmitButton button {
  font-size: 1.15rem;
  height: 57px;
}

.createNewTransaction input {
  font-size: 1.15rem;
  line-height: 3;
}

.transaction {
  position: relative;
  display: flex;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  padding: 30px;
  margin-bottom: 30px;
}

.transactionId {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #aaa;
}

.transactionImage {
  margin-right: 20px;
  height: 80px;
  border-radius: 2px;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.transactionAmount {
  font-size: 40px;
  font-weight: bold;
}

.transactionMessage {
  font-size: 30px;
  color: #777;
}
