.pokemon-info {
  height: 400px;
  width: 300px;
  overflow: scroll;
  background-color: #eee;
  border-radius: 4px;
  padding: 10px;
}

.pokemon-info h2 {
  font-weight: bold;
  text-align: center;
  margin-top: 0.3em;
}

.pokemon-info img {
  max-width: 100%;
  max-height: 200px;
}

.pokemon-info .pokemon-info__img-wrapper {
  text-align: center;
}
